<main 
    (scroll)="vgScrolling($event)"
    class="overflow-scroll pageformat" 
    ><header class="d-flex justify-content-center w-100">
        <app-hero 
            *ngIf="videogameInfo.info&&videogameInfo.cheapestPriceEver" 
            [info]="videogameInfo.info"
            [cheapestPriceEver]="videogameInfo.cheapestPriceEver"
        ></app-hero> 
    </header>
    <section class="row row-cols-4 justify-content-center ps-5 pe-5 w-100">
        <app-card-deal 
            *ngFor="let deal of videogameInfo.deals"
            [deal]="deal"
            class="col-12 col-md-6 col-lg-4 col-xl-3"
        ></app-card-deal>
    </section>
</main>